# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command
0 0 * * 0 /home/galaxy/Tools/GetUpdate/GetTax.sh >> /home/galaxy/Log/GetTax.log
0 1 * * 0 /home/galaxy/Tools/GetUpdate/GetNt.sh >> /home/galaxy/Log/GetNT.log
0 6 * * 6 [ $(date +\%d) -le 07 ] && /home/galaxy/Tools/GetUpdate/Scrape_BOLD.sh >> /home/galaxy/Log/Scrape_BOLD.log
0 1 * Jan,Apr,Jul,Oct 6 [ $(date +\%d) -le 07 ] && /home/galaxy/Tools/HTS-barcode-checker/src/Retrieve_CITES.py -db /home/galaxy/ExtraRef/CITES_db.csv -lf /home/galaxy/Log/Retrieve_CITES.log
55 21 * * 0 find /home/galaxy/galaxy/database/tmp/* -mtime +5 -delete
0 22 * * 0 cd /home/galaxy/galaxy/ && /home/galaxy/galaxy/.venv/bin/python2.7 /home/galaxy/galaxy/scripts/cleanup_datasets/admin_cleanup_datasets.py /home/galaxy/galaxy/config/galaxy.ini >> /home/galaxy/Log/admin_cleanup_datasets.log
5 22 * * 0 cd /home/galaxy/galaxy/ && /home/galaxy/galaxy/.venv/bin/python2.7 /home/galaxy/galaxy/scripts/cleanup_datasets/cleanup_datasets.py -1 -r /home/galaxy/galaxy/config/galaxy.ini >> /home/galaxy/Log/delete_userless_histories.log
10 22 * * 0 cd /home/galaxy/galaxy/ && /home/galaxy/galaxy/.venv/bin/python2.7 /home/galaxy/galaxy/scripts/cleanup_datasets/cleanup_datasets.py -2 -r /home/galaxy/galaxy/config/galaxy.ini >> /home/galaxy/Log/purge_histories.log
15 22 * * 0 cd /home/galaxy/galaxy/ && /home/galaxy/galaxy/.venv/bin/python2.7 /home/galaxy/galaxy/scripts/cleanup_datasets/cleanup_datasets.py -4 -r /home/galaxy/galaxy/config/galaxy.ini >> /home/galaxy/Log/purge_libraries.log
20 22 * * 0 cd /home/galaxy/galaxy/ && /home/galaxy/galaxy/.venv/bin/python2.7 /home/galaxy/galaxy/scripts/cleanup_datasets/cleanup_datasets.py -5 -r /home/galaxy/galaxy/config/galaxy.ini >> /home/galaxy/Log/purge_folders.log
25 22 * * 0 cd /home/galaxy/galaxy/ && /home/galaxy/galaxy/.venv/bin/python2.7 /home/galaxy/galaxy/scripts/cleanup_datasets/cleanup_datasets.py -3 -r /home/galaxy/galaxy/config/galaxy.ini >> /home/galaxy/Log/purge_datasets.log
30 22 * * 0 cd /home/galaxy/galaxy/ && /home/galaxy/galaxy/.venv/bin/python2.7 /home/galaxy/galaxy/scripts/cleanup_datasets/cleanup_datasets.py -6 -r /home/galaxy/galaxy/config/galaxy.ini >> /home/galaxy/Log/delete_datasets.log
0 23 * * 0 cd /home/galaxy/galaxy/ && /home/galaxy/galaxy/.venv/bin/python2.7 /home/galaxy/galaxy/scripts/set_user_disk_usage.py --config=/home/galaxy/galaxy/config/galaxy.ini >> /home/galaxy/Log/set_user_disk_usage.log
